@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.study-button {
  display: block;
  /* margin: 8px auto 8px;
  text-align: center; */
  line-height: 1;
  position: relative;
}

.study-button::after {
  content: '\2192';
  /* opacity: 0; */
  position: absolute;
  right: 30px;
  top: 48%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.study-button:hover::after {
  transform: translate(8px, -50%);
  opacity: 1;
}

.underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff7403;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}